:host {
  height: 100%;
}
agm-map {
  height : 100vh;
}
table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}
button {
  border-radius: 10px;
}
table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
.form-container {
  text-align: center;
}
.submitButton {
  background-color: #4CAF50;
  color: white;
  display: inline-block;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
}

.submitButton :hover {
  opacity: 0.8;
}

.submitButton :disabled {
  opacity: 0.8;
  background-color: gray;
  cursor: default;
}

.picButton {
  width: 40%;
  background-color: #00aaff;
}
#newPlaceButton {
  padding: 8px 20px 8px 20px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: green;
}

#newPlaceButton :hover {
  opacity: 0.8;
}

.placesDiv {
  cursor: pointer;
}

.leftSide {
  overflow-y: auto;
  max-height: 100vh;
  padding: 5px;
  width: 100%
}
.header {
  padding: 20px;
}
.placeImage {
  height:  150px;
  background-size:  100% 100%;
  background-repeat: no-repeat;
}
